//Переменные
// Значения высоты и длинны
$max-width: 1200px;
$min-width: 320px;

// Breakpoints

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Background
$bg: $white; // задаём цвет background

// Collor
$white: #fff;
